<style>
  .login-container { max-width: 360px; margin: auto; margin-top: 64px; }

  input {
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-size: 16px;
  }
</style>

<div class="login-container">
  <h1><b>CODERStore</b></h1>
  <h2>Registro</h2>

  <form action="/api/sessions/register" method="post">
    <input type="text" placeholder="Nombre" name="firstName" required>
    <input type="text" placeholder="Apellido" name="lastName" required>
    <input type="email" placeholder="Correo electrónico" name="email" required>
    <input type="number" placeholder="Edad" name="age" required>
    <input type="password" placeholder="Contraseña" name="password" required>

    <button type="submit">Registrar</button>
  </form>
</div>